@model TreinamentoWeb.Models.Entity.users

@{
    ViewBag.Title = Resources.Strings.deleteUser;
}

<h2>@Resources.Strings.deleteUser</h2>

<h3>@Resources.Strings.confirmDeleteUser</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ldap_uid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ldap_uid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ative)
        </dt>

        <dd>
           @* @Html.DisplayFor(model => model.ative) *@
            @(Model.ative ? Html.Raw("<span class='label label-success'>" + Resources.Strings.yes + "</span>") : Html.Raw("<span class='label label-danger'>" + Resources.Strings.no + "</span>"))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

     @*   <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        @Html.ActionLink("Back to List", "Index")
    </div>    *@

        <a class="btn btn-default" href='@Url.Action("Index", "Users")'>
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <button type="submit" value="Delete" class="btn btn-default">
        <span class="glyphicon glyphicon-ok"></span>
    </button>  


    }
</div>
