@model TreinamentoWeb.Models.Entity.users

@{
    ViewBag.Title = Resources.Strings.detailsUser;
}

<h2>@Resources.Strings.detailsUser</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ldap_uid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ldap_uid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ative)
        </dt>

        <dd>
           @* @Html.DisplayFor(model => model.ative)  *@
            @(Model.ative ? Html.Raw("<span class='label label-success'>" + Resources.Strings.yes + "</span>") : Html.Raw("<span class='label label-danger'>" + Resources.Strings.no + "</span>"))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-default" href='@Url.Action("Index", "Users")'>
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="btn btn-default" href='@Url.Action("Edit", "Users", new { id = Model.id })'>
        <span class="glyphicon glyphicon-edit"></span>
    </a>
</p>
